Multibank.MobileEnterprise.RESTful/Connected Services/SiteHostService/SiteHostService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="SiteHostService_1.xsd" namespace="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" />
  <xs:element name="AddAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="siteAction" nillable="true" type="q1:SiteAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddActionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="log" nillable="true" type="q2:SiteOperationRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="GetSiteResult" nillable="true" type="q3:Site" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSiteSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="setting" nillable="true" type="q4:SiteSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSiteSettingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="operation" nillable="true" type="q5:SiteOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOperationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOperationGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="operationGroup" nillable="true" type="q6:SiteOperationGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOperationGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOperationType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="operationType" nillable="true" type="q7:SiteOperationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOperationTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="GetActionResult" nillable="true" type="q8:SiteAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="GetActionsResult" nillable="true" type="q9:ArrayOfSiteAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentSite">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentSiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="GetCurrentSiteResult" nillable="true" type="q10:Site" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="GetOperationResult" nillable="true" type="q11:SiteOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operationTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="GetOperationsResult" nillable="true" type="q12:ArrayOfSiteOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operationGroupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="GetOperationGroupResult" nillable="true" type="q13:SiteOperationGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="GetOperationGroupsResult" nillable="true" type="q14:ArrayOfSiteOperationGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operationTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="GetOperationTypeResult" nillable="true" type="q15:SiteOperationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operationGroupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="GetOperationTypesResult" nillable="true" type="q16:ArrayOfSiteOperationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="GetSettingResult" nillable="true" type="q17:SiteSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="GetSettingsResult" nillable="true" type="q18:ArrayOfSiteSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteSettingValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteSettingValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSiteSettingValueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSites">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="GetSitesResult" nillable="true" type="q19:ArrayOfSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSites">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSitesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="GetAllSitesResult" nillable="true" type="q20:ArrayOfSite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteByUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="port" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteByUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="GetSiteByUrlResult" nillable="true" type="q21:Site" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="actionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveActionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSiteSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteId" type="xs:int" />
        <xs:element minOccurs="0" name="settingName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveSiteSettingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOperationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOperationGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operationGroupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOperationGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOperationType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operationTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveOperationTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="siteAction" nillable="true" type="q22:SiteAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveActionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="setting" nillable="true" type="q23:SiteSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSettingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSettingValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="settingId" type="xs:int" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSettingValueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="operation" nillable="true" type="q24:SiteOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOperationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOperationGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="operationGroup" nillable="true" type="q25:SiteOperationGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOperationGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOperationType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="operationType" nillable="true" type="q26:SiteOperationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOperationTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="site" nillable="true" type="q27:Site" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSiteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="site" nillable="true" type="q28:Site" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSiteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOperationGroups">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOperationGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="GetAllOperationGroupsResult" nillable="true" type="q29:ArrayOfSiteOperationGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationGroupForEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operationGroupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationGroupForEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="GetOperationGroupForEditResult" nillable="true" type="q30:SiteOperationGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOperationTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOperationTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="GetAllOperationTypesResult" nillable="true" type="q31:ArrayOfSiteOperationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOperations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOperationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="GetAllOperationsResult" nillable="true" type="q32:ArrayOfSiteOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationForEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationForEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="GetOperationForEditResult" nillable="true" type="q33:SiteOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettingForId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="siteSettingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettingForIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="GetSettingForIdResult" nillable="true" type="q34:SiteSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLogReturnId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="log" nillable="true" type="q35:SiteOperationRecord" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLogReturnIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLogReturnIdResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOffices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOfficesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Intercom.Core.Model" minOccurs="0" name="GetAllOfficesResult" nillable="true" type="q36:ArrayOfOffice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>